.indicators {
    display: flex;
    position: absolute;
}

.head {
    margin-top: 4rem;
}

.back {
    margin-top: 4rem; 
    padding: 2rem;
    padding-top: 0 !important;
}

.intro-text {
    text-align: justify;
}

.ingredients {
    margin-top: 3rem;
    margin-bottom: 3rem;
}